@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400&family=Muli:wght@200&display=swap');
body{
    font-family: 'Muli', sans-serif !important;
}
.fa{
    color: white;
    padding-right: 0.5em;
}
.top {
    background-color: #2d2e2e;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    display: flex;
    box-sizing: border-box; 
    justify-content: space-between;
}
nav div:nth-child(1){
    padding-left: 1rem;
}
nav div:nth-child(3){
    padding-right: 3rem;
}
a{
    color: white !important;
    font-weight: 900;
}
a:hover{
    text-decoration: none !important;
    color: white !important;
}
nav .top:hover{
    background-color: #e3e3e3;
}
.table-top{
    padding-top: 50px;
    text-align: center;
}
table{
    display: inline-block;
}
th{
    font-weight: bolder;
    padding: 1em;
    background-image: linear-gradient(to top, #f4f4f4, #f0f0f0, #ececed, #e8e9ea, #e4e5e6, #e0e1e2, #dcdddf, #d8d9db, #d3d4d6, #cdced0, #c8c9cb, #c3c4c6);
}
thead tr th:hover{
    background-image: linear-gradient(to top, #c6c9cc, #b9bbbe, #adadaf, #a0a0a1, #939393);
}
td{
    padding: 0.7em;
    font-weight: bold;
    border: 1px solid linear-gradient(to top, #eeeeee, #eeefef, #eff0f0, #eff0f0, #f0f1f0);;
}
tr:nth-child(even){
    background-image: linear-gradient(to top, #eeeeee, #eeefef, #eff0f0, #eff0f0, #f0f1f0);
}
#plusC{
    color: red;
} 
#plusR{
    color: #09a055;
}
#plusD{
    color: blue;
}