@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400&family=Muli:wght@200&display=swap');
body{
    font-family: 'Muli', sans-serif !important;
}
.top {
    background-image: linear-gradient(to right, #2e1863, #461b61, #591f5f, #68265d, #742f5c);
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    display: flex;
    box-sizing: border-box; 
    justify-content: space-between;
}
nav div:nth-child(1){
    padding-left: 4rem;
}
nav div:nth-child(3){
    padding-right: 4rem;
}
a{
    color: white !important;
    font-weight: bolder;
}
a:hover{
    text-decoration: none !important;
    color: white !important;
}
nav .top:hover{
    background-color: #e3e3e3;
}
.table-top{
    padding-top: 50px;
    text-align: center;
}
table{
    display: inline-block;
    -webkit-box-shadow: -1px 0px 166px -2px rgba(133,128,133,1);
    -moz-box-shadow: -1px 0px 166px -2px rgba(133,128,133,1);
    box-shadow: -1px 0px 166px -2px rgba(133,128,133,1);
}
th{
    font-weight: bolder;
    padding: 1em;
    background-image: linear-gradient(to top, #f4f4f4, #f0f0f0, #ececed, #e8e9ea, #e4e5e6, #e0e1e2, #dcdddf, #d8d9db, #d3d4d6, #cdced0, #c8c9cb, #c3c4c6);
}
td{
    padding: 1em;
    font-weight: bold;
}
tr:nth-child(even){
    background-image: linear-gradient(to right, #f4f4f4, #f0f0f0, #ececed, #e8e9ea, #e4e5e6, #e2e3e4, #e0e0e2, #dedee0, #ddddde, #dcdcdd, #dbdbdb, #dadada);
}
tr:nth-child(odd){
    background-image: linear-gradient(to left, #f4f4f4, #f0f0f0, #ececed, #e8e9ea, #e4e5e6, #e2e3e4, #e0e0e2, #dedee0, #ddddde, #dcdcdd, #dbdbdb, #dadada);
}