@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@500&family=Poppins&family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
body {
  font-family: "Poppins", sans-serif;
  color: #727272;
}
hr{
    width: 100% !important;
    background-color: black;
    border: 2px solid black;
}
a{
  text-decoration: none;
  color: #616161;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.State{
  padding-top: 15px;
  padding-bottom: 15px;
}
.totalData{
  background-color: white;
  margin: 10px;
}

#middle-table{
  padding-top: 15px;
  padding-bottom: 15px;
}
.line-chart div{
  border: 1px solid #dbdbdb;
  background-color: white;
  border-radius: 5px;
  margin: 10px;
}
.bar-chart div{
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  margin: 10px;
}
#chart {
  background-color: #fdfdfd;
  padding-top: 15px;
  padding-bottom: 15px;
}
#chart div span {
  color: black;
  padding-bottom: 20px;
  padding-top: 5px;
}

@media (max-width: 768px) {
  .totalData{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow-x: auto;
  }
  .totalData table{
      font-size: 0.8em;
  }
  #top-table td{
      padding: 1rem;
  }
  #top-table{
    word-wrap: normal !important;
  }
  .stateData{
      overflow-x: scroll;
  }
  .stateData{
      font-size: 0.8em;
  }
  #top-table{
      width: 100%;
  }
  #middle-table{
      width: 100%;
      text-align: center;
  }
  #middle-table td{
    overflow-x: auto;
    padding: 0.4rem;
    font-size: 0.7em;
  }
  #middle-table th{
    word-wrap: normal;
    padding-top: 10px;
  }
  #chart{
    display: flex;
    flex-direction: column;
  }
  .bar-chart div {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .line-chart div {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #chart canvas{
    width: 85% !important;
    max-width: 85% !important;
  }
}

@media (min-width: 768px) {
   .totalData{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }
   #top-table{
       width: 90%;
   }
   .stateData{
       display: flex;
       justify-content: space-around;
       align-items: center;
   }
   #middle-table {
       width: 90%;
       text-align: center;
   }
   #middle-table th {
       padding-top: 10px;
   }
   #middle-table td{
       padding: 0.7rem;
   }
   #chart{
       padding-top: 10px;
       display: flex;
       flex-direction: column;
       align-items: center;
   }
   .bar-chart{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
   }
   .bar-chart div {
     padding: 30px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
   }
   .line-chart{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
   }
   .line-chart div {
     padding: 30px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
   }
   #chart span{
     padding: 20px;
   }
   #chart canvas{
       width: 580px !important;
       height: 300px !important;
   }
}

@media (min-width: 1200px) {
  #chart hr{
      border: 0.5px solid #616161;
      background-color: #616161;
  }  
  .totalData{
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #top-table{
      width: 1100px;
      
  }
  #top-table td{
    padding: 1rem;
  }
  .stateData{
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  #middle-table{
      width: 1200px !important;
      text-align: center;
  }
  #middle-table th{
      padding-top: 10px;
  }
  #middle-table td{
      padding: 0.7rem;
  }
  #chart{
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  .line-chart div {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .bar-chart{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }
  .line-chart{
    justify-content: space-around;
      display: flex;
      flex-direction: row;
  }
  .bar-chart div{
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .line-chart div canvas {
      width: 500px !important;
      max-width: 500px;
  }
  .bar-chart div canvas {
      width: 500px !important;
      max-width: 500px;
  }
}
table {
  border-spacing: 0px !important;
}
#daily-chart {
  font-size: 1em !important;
}
table{
    word-wrap: break-word;
    table-layout: fixed;
}
/* top table */
#top-table h2 {
  font-size: 1.5em;
}
#top-table td {
  font-weight: 600;
  font-size: 0.7em !important;
  padding-top: 0.7rem !important;
  padding-bottom: 1rem !important;
  text-align: center;
  border: none;
}
#top-table th {
  font-weight: 400;  
  font-size: 0.8em !important;
  padding-top: 1rem;
  text-align: center;
}
#c {
  color: #616161;
}
#a {
  color: rgb(36, 37, 128);
}
#r {
  color: rgb(66, 135, 245);
}
#d {
  color: red;
}

/*middle-content*/
#middle-table th {
  font-weight: 500;
  padding-top: 15px;
  padding-bottom: 15px;
}
#middle-table tr td:nth-of-type(1):hover{
  background-color: #dddddd;
}
#middle-table tr td:hover{
  background-color: #f1f1f1;
}
#middle-table tr th:nth-of-type(1):hover{
  background-color: #dddddd;
}
#middle-table tr th:hover{
  background-color: #f1f1f1;
}

#middle-table tr td:nth-of-type(4) {
  color: rgb(22, 190, 22);
}
#middle-table tr td:nth-of-type(3) {
  color: rgb(36, 37, 128);
}
#middle-table tr td:nth-of-type(2) {
  color: rgb(89, 91, 92);
}
#middle-table tr td:nth-of-type(5) {
  color: red;
}
#middle-table tr th:nth-of-type(4) {
  color: rgb(22, 190, 22);
}
#middle-table tr th:nth-of-type(3) {
  color: rgb(36, 37, 128);
}
#middle-table tr th:nth-of-type(2) {
  color: rgb(89, 91, 92);
}
#middle-table tr th:nth-of-type(5) {
  color: red;
}

nav .logo-name{
    padding: 3em;
    font-size: 1.1em;
}
.nav-links li a {
  padding-bottom: 3px;
  font-size: 16px;
  text-decoration: none;
  color: #696969;
  transition: 0.3s ease-in;
}
.nav-links li a:hover{
  color: #5e5d5d;  
}
nav .logo-name span{
    font-size: 0.5em;
    display: flex;
    flex-direction: column;
}
nav{
    background-color: #f7f7f7;
    display: flex;
    color: #727272;
}
.nav-links{
    padding: 50px;
    display: flex;
    list-style: none;
    width: 70%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}
.hamburger{
    display: none;
}
.nav-links li{
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
  border-radius: 3px;
}
.nav-links li:hover {
    transition: 0.2s ease-in ;
    background-color: #cccccc;
    color: black;
}
.nav-links .contact-nav{
  display: none;
}

.nav-sal{
  display: none;
}
.nav-hr{
  display: none ;
}
@media screen and (max-width: 1200px){
    nav .logo-name{
      padding: 2.5em;
      font-size: 0.9em;
    }
    nav .logo-name span{
      font-size: 0.4em;
      display: flex;
      flex-direction: column;
    }
    nav{
        position: relative;
    }
    .hamburger{
        display: flex;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-50%, -100%);
        z-index: 2;
    }
    .nav-links li{
      border-radius: 5px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .nav-links{
        justify-content: space-evenly;
        position: fixed;
        background-color: #f7f7f7;
        width: 100%;
        flex-direction: column;
        clip-path: circle(0px at 90% -10%);
        -webkit-clip-path: circle(0px at 90% -10%);
        transition: all 0.7s ease-out; 
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(2000px at 90% -10%);
        -webkit-clip-path: circle(2000px at 90% -10%);
        pointer-events: all;
        transition: all 0.8s ease-in;
    }
    .nav-links li a {
      font-size: 18px;
    }
    .nav-links li:hover {
      transition: 0.2s ease-in ;
      background-color: #eeeeee;
    }
    .nav-links li:hover a{
      color: black;
    }
    .nav-links .contact-nav{
      display: flex;
    }
    .contact-nav{
      padding-left: 20px;
      padding-right: 20px;
      border-top: 1px solid #cccccc;
    }
    .contact-nav div{
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 15px;
    }
    .contact-nav a:hover .fa{
      font-size: 1.0em;
      color: #696969;
    }
}

footer{
  font-size: 0.9em;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.code{
  display: flex;
  justify-content: space-between;
}
.contact{
  display: flex;
  justify-content: space-evenly;
}
footer .salutation p{
  padding: 18px;
  color: black;
}
.code div {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  margin: 5px;
}
.contact{
  padding-left: 40px;
  padding-right: 40px;
  border-top: 1px solid #cccccc;
}
.contact div {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 8px;
  padding-right: 8px;
}
.code div p {
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}
.code div:hover{
  background-color: #f5f5f5;
  border-radius: 3px;
}

.fa-facebook{
  color: #4560f8;
}
.fa-instagram{
  color: #cf1c67;
}
.fa-linkedin{
 color: #2e47d6;
}
.fa-github{
  color: black;
}
.fa-code{
  color: black;
  padding-top: 2px;
}
.fa-database{
  color: #2ed674;
  padding-top: 2px;
}

footer .contact a:hover{
  font-size: 1.2em;
}