@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@500&family=Poppins&family=Quicksand:wght@500&display=swap');
body{
    font-family: 'Quicksand', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
canvas {
    width: 420px !important;
    height: 210px !important;
}
@media(max-width: 1000px){
    section{
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #top-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #top-table{
        flex-basis: 30%;
    }
    #pieChart{
        flex-basis: 30% !important;
    }
}

@media(min-width: 1000px){
    section{
        padding-top: 50px;
        display: flex;
        text-align: center;
        justify-content: space-around;
        flex-direction: row;
    }
    section div {
        flex-basis: 40%;
    }
    #top-content{
        display: flex;
        justify-content: center;
    }
    #top-table{
        flex-basis: 30%;    
    }
}
table{
    border-spacing: 0px !important;
}

/* top table */
#top-table{
    border: 1px solid rgb(210, 229, 233);
    border-radius: 4px;
    height: 123px;
    margin-right: 5px;
}
#top-table td{
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    border: none;
}
#top-table th{
    padding: 13px;
    text-align: center;
    border-radius: 5px;
    border: none;
}
#c{
    color: rgb(25, 250, 29);
}
#a{
    color: rgb(36, 37, 128);

}
#r{
    color: rgb(66, 135, 245);
}
#d{
    color: red;
}
#pieChart{
    display: flex;
    align-items: center;
    border: 1px solid rgb(210, 229, 233);
    padding: 10px;
    border-radius: 4px;
     margin-left: 5px;
}
#pieChart canvas{
    height: 100px !important;
    width: 210px !important;
    display: flex !important;
}

/*middle-content*/
#middle-table{
    border-radius: 3px;
    border: 1px solid #dadada;
}
#middle-table tr:hover{
    background-color: #eeeeee;
    text-align: center;
    color: #413f3f;
    padding: 10px;
    
}
#middle-table td{
    text-align: center;
    color: #616161;
    padding: 10px; 
    border-bottom: 1px solid #dadada; 
}
#middle-table th{
    text-align: center;
    padding: 10px; 
    border-bottom: 1px solid #dadada; 
}

/*charts*/
.charts{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.charts div{
    width: 420px !important;
    margin: 0px !important;
    height: fit-content !important;
}